<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>NodeJS</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
    </head>
    
    <body>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header navbar-left">
                    <a style="font-size: 24px;" class="navbar-brand" href="/">NodeJS</a>
                </div>
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="font-size: 18px;" href="/">Index</a></li>
                    <li><a style="font-size: 18px;" href="/home">Home</a></li>
                    <li><a style="font-size: 18px;" href="/about">About</a></li>
                    <li><a style="font-size: 18px;" href="/login">Login</a></li>
                    <li><a style="font-size: 18px;" href="/logout">Logout</a></li>
                    <li><a style="font-size: 18px;" href="/register">Register</a></li>
                </ul>
            </div>
        </div>

    </body>
</html>