<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>User Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
    </head>

    <nav>
        <%- include('../_partial/_navbar'); -%>
    </nav>

    <body>
        
        <div class="container">
            <h1>Welcome to User index page</h1>
        </div>

    </body>
</html>